.table-container {
    width: 250px
}

.table-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 34px;
    font-size: 18px;
    text-align: center;
    padding: 5px 8px;
    margin: 13px 0 13px 0;
    background-color: #C4C4C4;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.table-check {
    font-size: 10px;
    margin-top: 23px;
}
.table-check label {
    margin-left: 5px;
}